*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}


body {
    min-height: 100vh;
    position: relative;
    /* overflow: hidden; */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/Background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    
}
.container{
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}
.container#blur.active{
    filter: blur(10px);
    transition: 0.4s;
}
/* SIDEBAR */
.container-side{
    position: fixed;
    top: 0;
    left: 0;
    width: 16%;
    height: 100%;
    background: rgb(238, 238, 238);
    box-shadow: 0 0 14px rgba(0,0,0,0.55);
    padding: 16px;
}
.logo-image {
    width: auto;
    max-width: 40%;
    border-radius: 6px;
}
.logo-image img {
    width: 100%;
    height: auto;
    display: block;
}

.container .container-side .logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.logo-container .logo-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.logo-text{
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    align-self: flex-end;
    margin-bottom: 4px;
    margin-left: 20px;
}
.logo-text .title{
    font-size: 24px;
    font-weight: 600;
}
/* MENU */
.container-side li{
    height: 50px;
    list-style: none;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.container-side li i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    min-width: 60px;
}
.container-side li span{
    font-size: 24px;
}
.container-side li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 14px;
    transition: all 0.4s ease;
    color: rgb(90, 90, 90); 
}
.container-side li a:visited { 
    text-decoration: none; 
    color: rgb(90, 90, 90); 
}
.container-side li a:hover {
    background-color: #7c99cf;
}



/* HOME */
.container-home{
    position: relative;
    max-width: 60%;
    width: 100%;
    margin: 60px auto;
    margin-left: 24%;
    display:flex;
    flex-direction: column;
    gap: 50px;
    background: rgba(238, 238, 238, 0.5);
    border-radius: 12px;
    padding: 25px;
}
.welcome-message{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 55px;
    font-weight: 600;
}
.welcome-description{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 4%;
    text-align: center;
    /* width: 50%; */
}
.container-promotion{
    padding: 22px;
    border-radius: 24px;
    background: rgb(115, 115, 115);
    display: grid;
    grid-template-areas: 
            "b b a"
            "b b c"
            "b b c";

    grid-template-columns: 5% 33%;
}

.container-promotion .promotion-picture{
    grid-area: b;
}
.container-promotion .promotion-picture img{ 
    width: 90%;
    height: 200px;
    object-fit: cover;
}
.container-promotion .promotion-title{
    display: flex;
    grid-area: a;
    font-size: 26px;
    font-weight: bold;
    align-items:center;
    justify-content:center;
}
.container-promotion .promotion-description{
    font-size: 18px;
    padding: 15px;
    grid-area: c;
}
/* RECIPE */
.container-main{
    position: relative;
    max-width: 60%;
    width: 100%;
    margin: 50px auto;
    margin-left: 24%;
}

/* FILTER */
.filter{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.filter-wrapper .add-recipe{
    align-items: flex-end;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    z-index: 10;
    position: relative;
}
.filter-wrapper button{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    z-index: 10;
    position: relative;
    transition: 0.3s;
}
.filter-wrapper button:hover{
    background: rgb(134, 188, 233);
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    transition: 0.3s;
}


.filter-buttons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    gap: 25px;
    z-index: 5;
    opacity: 0;
    transition: 0.5s;

}

.filter-buttons.open {
    transition: 0.5s;
    transform: translateX(23%);
    opacity: 1;
}


.filter-wrapper button.active{
    background: rgb(95, 175, 240);
}


/* CARDS */
.food-cards {
    display:flex;
    margin-top:50px;
    gap:30px;
    flex-wrap: wrap;
}
.card{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    transition: 0.3s;
    box-shadow: 0 0 16px rgba(0,0,0,0.75);
    transform: scale(1.1);
}

.card.hide{
    display: none;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.card-body{
    padding: 10px 15px 15px;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.card-text{
    margin-top: 2px;
    font-size: 16px;
    color: #333;
}
.like-section{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 5px;
}
.like-section .likes-count{
    margin-right: 3px;
    color: green;
}
.like-section i{
    color: green;
    font-size: 18px;
}


/* POPUP */
#container-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 75%;
    padding: 30px;
    background: wheat;
    box-shadow: 0 0 18px rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;

}

#container-popup.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.3s linear;
}

.popup-content{
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
}
.exit-icon{
    position: absolute;
    top: 2%;
    left:92%;
}
.exit-icon i{
    font-size: 32px;
    transition: 0.1s;
}
.exit-icon i:hover{
    font-size: 34px;
    transition: 0.1s;
}
.popup-content img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.popup-content p{
    font-size: 20px;
}
.popup-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    gap: 14px;
}

#popup-title{
    font-size: 26px;
}
#popup-description{
    font-size: 18px;
}
.popup-button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    border: 1px solid #cbd5e0;
    line-height: 26px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.5s;
    width: 38%;
}
.popup-button i{
    margin-right: 5px;
    font-size: 18px;
}
.popup-button:hover{
    transition: 0.5s;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 14px rgba(0,0,0,0.25);
}

/* Add recipe popup */
#container-popup-add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 75%;
    padding: 30px;
    background: wheat;
    box-shadow: 0 0 18px rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;

}
#container-popup-add.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.3s linear;
}

.popup-content-add{
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
}
#form1{
    margin-top: 20%;
}
.forms{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 26px;
    width: 50%;
}
#title-add{
    margin-top: 10px;
    text-align: center;
}
#popup-button-recipe{
    margin-top: 66px;
}
/* FAVOURITE */

.most-liked-container{
    position: fixed;
    top: 26%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: auto;
    padding: 0;
    box-shadow: 0 0 18px rgba(0,0,0,0.6);
}
.favourite{
    position: absolute;
    width: 22%;
    top: 48%;
    left: 47%;
    height: 4%;
    text-align: center;
    padding: 5px;
    font-size: 26px;
    font-weight: bold;
    background-color: wheat;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 12px;
}

.favourite-food-cards {
    position: absolute;
    display:flex;
    margin-top:50px;
    gap:30px;
    flex-wrap: wrap;
    width: 60%;
    top: 50%;
    left:28%;
    /* background-color: #fff; */
}
.favourite-card{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.favourite-card:hover{
    transition: 0.3s;
    box-shadow: 0 0 16px rgba(0,0,0,0.75);
    transform: scale(1.1);
}
/* CONTACT */
.container-contact{
    position: relative;
    max-width: 60%;
    width: 100%;
    margin: 75px auto;
    margin-left: 26%;
    display: flex;
    flex-direction: column;
}
.contact-title{
    display: flex;
    background: rgb(238, 238, 238);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    height: 50px;
    align-items:center;
    justify-content:center;
    border-radius: 8px;
}
.contact-body{
    margin-top: 50px;
    background: rgb(238, 238, 238);
    font-size: 20px;
    padding: 25px;
    border-radius: 8px;

}
.container-contact iframe{
    margin-top: 25px;
    width: 100%;
}

  .input_1 {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .input_1::placeholder {
    color: transparent;
  }
  
  .input_1:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  .input_1:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  .input_1:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
  
